* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wm-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.wm-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 40px;
    margin-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.divider {
    border-bottom: 2px solid #000;
    width: 300px;
    margin: 20px;
}

.wm-table{
    max-width: 300px;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    row-gap: 10px;
    column-gap: 5px;
}

.wm-input-box {
    width: 50px;
    height: 50px;
    border: 3px solid #cccccc;
    background-color: #ffffff;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
}

.invalid {
    color: white;

}

.wrong {
    background-color: gray;

}

.correct {
    background-color: green;
}

.incorrect {
    background-color: orange
}

